.wishlist-card {
    background-color: #080808;
    border: 2px solid rgba(255, 255, 255, 0.20);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.wishlist-card:hover {
    transform: translateY(-5px);
    border: 2px solid #840225;
    box-shadow: 0 10px 30px rgba(122, 14, 42, 0.2);
    border-color: rgba(122, 14, 42, 0.5);
}

.wishlist-card-image-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background-color: #111;
}

.wishlist-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.wishlist-card:hover .wishlist-card-image {
    transform: scale(1.05);
}

.wishlist-card-content {
    padding: 1.5rem;
}

.wishlist-card-title {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    color: var(--foreground);
}

.wishlist-card-description {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #A9A9A9;
    line-height: 1.6;
    margin: 0 0 1.5rem 0;
    min-height: 5rem;
}

.wishlist-card-link {
    font-family: 'Cinzel', serif;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    display: inline-flex;
    padding: 9.4px 26.8px 8.2px 24.8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 0.875rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.wishlist-card-link:hover {
    color: #fff;
    background-color: #840225;
    border-color: #840225;;
}