@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;

  font-family: 'Cormorant Garamond', serif;
}

* {
  box-sizing: border-box;
}